@import url(utils.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}




.right a, .grpicon{
    margin: 0 2vw;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;;
}

.intro-page{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("images/5445736-fly-and-spin-through-space-less-stars-no-clouds-or-space-dust-transparent-stars-background-1920_1080_preview\ \(1\).png");  
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: 100%;
    background-repeat: repeat-y;
   
    
}
.intro-text h1{
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 800;
    font-size:10vh;
    color: rgb(255, 255, 255);
    text-shadow: black 3px 5px;
}

.intro-text h1 span {
    color: rgb(224, 33, 33);
}

.intro-text p  ,h3 {
    color: white;
    font-family: "Poppins" , sans-serif;
    padding: 0.2vw 0;
    font-weight: 800;
    font-size: 3vh;
    text-shadow: black 4px 4px;
}


.intro-text:hover span {
    color:rgb(71, 234, 255);
    transition: 0.7s;
    margin: 0;
    
    
}

.about{
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 48, 68);
    color: #eeeeee;
    height: 100vh;
    padding: 5vw 0;
    max-width: 100vw;
    overflow: hidden;
    font-family: "popins",Arial, Helvetica, sans-serif;
   
}
.intro-page .left{
    
    position: relative;
    z-index: 1;
    max-width: 80vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.intro-page .left .img {
    width: 100%;
    margin: 0;
}


.right{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.intro-page .right{ 
    
min-width: 50vw;
padding: 0;
position: relative;
z-index: 4;

       
}
.about .left {
    
    max-height:80vh;
    max-width: 50vw;
    min-height: 80vh;
    padding: 0;
    overflow: hidden;
   
}

.about img{
    width: 100%;
    
}
.about .right{
   
    justify-content: center;   
    max-width: 45vw;
    max-height: 80vh;
    min-height: 80vh;
    padding: 4vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.493);
    
    
}
.about .right h1{
    margin-bottom: 1rem;
}
.about .right h6{
    max-height: 50vh;
    max-width: 40vw;
    overflow: hidden;
    padding: 1.25vh;
    font-family:  "Fizzt Bubbles" ursive;
    font-size: small;
    
}



/*  ======================================  box ========================================*/
.card-view .rounded-img {
    border-radius: 25px;
}
button{
    padding: 0.25rem;
}

.card-view:hover .pr-name{
    min-height: 250px;
    top: -254px;
    justify-content: unset;
    background-color: rgba(0, 0, 0, 0.767);
 

}

.hideable-content{
    display: flex;
    flex-direction: column;    
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    gap: 10px;
    margin-right: 2rem;
    
}

.links img {
    background: transparent;
    width: 35px;
    height: 35px;
    border-radius: 0px;
}

.hideable-content p{
    display: flex;
    flex-direction: column;
    min-height: 150px;
}


.card-view:hover .pr-name p{
    visibility: visible;
    max-height: 50px

}
@media screen and (max-width: 480px) {
    .intro-text h1{
        font-size: 10vw;
        
    }
    .intro-text h3 {
        font-size: 5vw;
       
    }

    .intro-text p{
        font-size: 5vw;
        
    }

    .intro-page{
        background-image: url("images/5445736-fly-and-spin-through-space-less-stars-no-clouds-or-space-dust-transparent-stars-background-1920_1080_preview\ \(1\).png");
        background-repeat: repeat-y;
        max-height: 100vh;
        max-width: 100vw;
        display: flex;       
        flex-wrap: wrap;
        
        
    }
    .intro-page .right{
        position: relative;
        top: 15vh;
        z-index: 4;
        max-width: 80vw;
    }
    .intro-text{
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.603);
        padding: 5vh;
        position: relative;
        top: 5vh;
        z-index: 5;
        max-width: 100vh;
    }

    .about {
        padding:5vw 0;
        max-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        flex-wrap: wrap;
        
    }
    .about .left{
        position: relative;
        max-width: 90vw;
        min-height: 80vh;
        width: 100%;
        margin: 5vh 0;
        z-index: 0;
        overflow: hidden;
        background-color: transparent;
    }

    .about .left img{width: 100%;}

    .about .right{
        position: relative;
        display: flex;
        top: -85vh;
        max-height:80vh;
        min-height: 80vh;
        max-width: 90vw;
        z-index: 1;

    }
    .about .right h6{
        max-height: 50vh;
        max-width: 82vw;
        padding: 4vh;
        overflow: hidden;
    }
    

    .card-view {
        max-width: 90vw;
        overflow: hidden;
    }

   
    .rounded-img img{
        width: 100%;
    }
    
    .intro-page .left{
        position: relative;
        z-index: 1;
        top: -10vh;
        max-width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
       

        
    }
    
   
   



}
a{
    text-decoration: none;
    color: unset;
}

.pr-name:hover a{
    color: tomato;
}


/* ================================ */


  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1vh solid tomato; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.55vh; /* Adjust as needed */
    
    
    animation: 
      typing 3.5s steps(40, end) 1s infinite alternate,
      blink-caret .75s step-end infinite;

   
  }
 

  /* The typing effect */
  @keyframes typing {
    from { width: 100% }
    to { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(235, 53, 53); }
  }
