<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>DynoCodes</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/utils.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@600&family=Roboto&display=swap');
</style>

<script>

    var btn = document.getElementById("submit-btn")
    function confirmBooking() {
        return confirm("clicked");
    }
</script>

<body>
    <header>
        <div class="container">
            <nav class="nav-bar">
                <div class="left flex item-centre">
                    <div class="grpicon">
                        <h1><a href="/form"> DynoCodes</a> </h1>
                    </div>


                </div>
                <div class="right flex item-centre justify-between">
                    <div>
                        <a href="#main">Home</a>
                        <a href="#about">about</a>
                        <a href="#pr-pg">Work</a>
                        <a href="#">team</a>
                        <a href="#contact">contact</a>


                    </div>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <section>
            <div class="form">
                <div class="flex" style="flex-direction: column;">
                    <div class="title">Welcome</div>
                    <div class="subtitle">Let's create new project!</div>
                </div>


                <div class="input-area flex">


                    <form name="projects" onsubmit="return confirm('Remove project')" method="POST"
                        enctype="multipart/form-data">


                        <div class="info">

                            <div class="input-container ic2">
                                <input id="name" class="input" name="heading" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">Heading</label>
                            </div>

                            <div class="input-container-d ic2">
                                <textarea id="discription" class="input" name="main-disc" type="text"
                                    placeholder=""></textarea>
                                <div class="cut"></div>
                                <label for="discription" class="placeholder">Main Discription</label>
                            </div>

                            <div class="input-container ic2">
                                <input id="name" class="input" name="sub-1-name" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">Name</label>
                            </div>


                            <div class="input-container-d ic2">
                                <textarea id="discription" class="input" name="sub-1-disc" type="text"
                                    placeholder=""></textarea>
                                <div class="cut"></div>
                                <label for="discription" class="placeholder">Discription</label>
                            </div>

                            <div class="input-container ic2">
                                <input id="name" class="input" name="sub-2-name" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">Name</label>
                            </div>


                            <div class="input-container-d ic2">
                                <textarea id="discription" class="input" name="sub-2-disc" type="text"
                                    placeholder=""></textarea>
                                <div class="cut"></div>
                                <label for="discription" class="placeholder">Discription</label>
                            </div>

                            <div class="input-container ic2">
                                <input id="name" class="input" name="sub-3-name" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">Name</label>
                            </div>


                            <div class="input-container-d ic2">
                                <textarea id="discription" class="input" name="sub-3-disc" type="text"
                                    placeholder=""></textarea>
                                <div class="cut"></div>
                                <label for="discription" class="placeholder">Discription</label>
                            </div>

                            <div class="input-container ic2">
                                <input id="name" class="input" name="sub-4-name" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">Name</label>
                            </div>




                            <div class="input-container-d ic2">
                                <textarea id="discription" class="input" name="sub-4-disc" type="text"
                                    placeholder=""></textarea>
                                <div class="cut"></div>
                                <label for="discription" class="placeholder">Discription</label>
                            </div>

                            <div class="input-container ic2">
                                <input id="name" class="input" name="img-link" type="text" placeholder=" " />
                                <div class="cut"></div>
                                <label for="name" class="placeholder">img link</label>
                            </div>


                            <div class="link-langs">
                                <div><br></div>
                                <div class="subtitle">Languages/Libraries used</div>
    
                                <div class="input-container ic2">
                                    <input id="lib-1" class="input" name="lib-1" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="lib-1" class="placeholder">lib-1</label>
                                </div>
                                <div class="input-container ic2">
                                    <input id="lib-2" class="input" name="lib-2" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="lib-2" class="placeholder">lib-2</label>
                                </div>
                                <div class="input-container ic2">
                                    <input id="lib-3" class="input" name="lib-3" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="lib-3" class="placeholder">lib-3</label>
                                </div>
                               
                                <div class="input-container ic2">
                                    <input id="lib-4" class="input" name="lib-4" type="text" placeholder=" " />
                                    <div class="cut"></div>
                                    <label for="lib-4" class="placeholder">lib-4</label>
                                </div>
    
                            </div>

                            <div class="input-container ic2">
                                <input id="password" class="input" name="pass" type="password" placeholder=" " />
                                <div class="cut"></div>
                                <label for="password" class="placeholder">password</label>
                            </div>

                            <button class="submit">submit</button>

                        </div>
                </div>
                </form>


            </div>









            </form>
            </div>
            </div>

        </section>


    </main>

</body>

</html>