<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>DynoCodes</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/utils.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@600&family=Roboto&display=swap');
</style>

<body>
    <header>
        <div class="container">
            <nav class="nav-bar">
                <div class="left flex item-centre">
                    <div class="grpicon">
                        <h1>DynoCodes </h1>
                    </div>
    
    
                </div>
                <div class="right flex item-centre justify-between">
                    <div>
                        <a href="#main">Home</a>
                        <a href="#about">about</a>
                        <a href="#pr-pg">Work</a>
                        <a href="#">team</a>
                        <a href="/form">events</a>
    
    
                    </div>
                </div>
            </nav>
        </div>
    </header>
    main

    
</body>

</html>